#login-view {
    display: grid;
    padding: 30px;
    vertical-align: center;
    margin-left: 650px;
    margin-right: 650px;
}

:host {
    display: block;
    padding: var(--lumo-space-m) var(--lumo-space-l);
}