:host {
    display: block;
    padding: var(--lumo-space-m) var(--lumo-space-l);
}

.login-overlay-view vaadin-login-overlay{
    align-items: center;
    display: flex;
    max-width: 300px;
}

#loginTitle {
    font-family: "Arial";
    color: #DDDDDD;
    font-size: 45px;
    font-weight: bold;
}
