#raceLogo {
    margin-right: 0px;
    margin-left: 370px;
}

#text {
    font-size: 28px;
    font-family: "Times New Roman";
    color: #212f43;
    font-style: normal;
}

#sponsors {
    margin-right: 0px;
    margin-left: 750px;
    font-size: 40px;
    font-family: "Times New Roman";
    color: #212f43;
    font-style: normal;
    font-weight: bold;
}

/*#sportVision {
    margin-right: 0px;
    margin-left: 250px;
}

#gg {
    margin-right: 0px;
    margin-left: 550px;
    margin-bottom: 58px;
}

#savonia {
    margin-right: 0px;
    margin-left: 800px;
    margin-bottom: 75px;
}*/
