#date {
    font-size: 23px;
    font-family: "Times New Roman";
    color: #212f43;
    font-style: normal;
}

#startTime {
    font-size: 23px;
    font-family: "Times New Roman";
    color: #212f43;
    font-style: normal;
}

#distance {
    font-size: 23px;
    font-family: "Times New Roman";
    color: #212f43;
    font-style: normal;
}

#limitTime {
    font-size: 23px;
    font-family: "Times New Roman";
    color: #212f43;
    font-style: normal;
}

#startLoc {
    font-size: 23px;
    font-family: "Times New Roman";
    color: #212f43;
    font-style: normal;
}

#raceMap {
    font-size: 30px;
    font-family: "Times New Roman";
    color: #212f43;
    font-style: normal;
    font-weight: bold;
    margin-right: 0px;
    margin-left: 700px;
}

#raceImage {
    margin-right: 0px;
    margin-left: 200px;
}

#timerLayout {
    color: #212f43;
    font-size: 60px;
    font-weight: bold;
    font-family: "Times New Roman";
}

#counter {
    margin-right: 0px;
    margin-left: 515px;
}

#countdown {
    font-size: 50px;
    font-family: "Times New Roman";
    color: #212f43;
    font-style: normal;
    font-weight: bold;
    margin-right: 0px;
    margin-left: 600px;
}

#daysLabel {
    font-size: 25px;
    font-family: "Times New Roman";
    color: #212f43;
    font-style: normal;
    margin-right: 0px;
    margin-left: 515px;
    margin-top: -20px;
}

#hoursLabel {
    font-size: 25px;
    font-family: "Times New Roman";
    color: #212f43;
    font-style: normal;
    margin-right: 0px;
    margin-left: 610px;
    margin-top: -58px;
}

#minutesLabel{
    font-size: 25px;
    font-family: "Times New Roman";
    color: #212f43;
    font-style: normal;
    margin-right: 0px;
    margin-left: 695px;
    margin-top: -58px;
}

#secondsLabel {
    font-size: 25px;
    font-family: "Times New Roman";
    color: #212f43;
    font-style: normal;
    margin-right: 0px;
    margin-left: 800px;
    margin-top: -56px;
}

#pace {
    font-size: 25px;
    font-family: "Times New Roman";
    color: #212f43;
    font-style: normal;
}

#paceLabel {
    font-size: 25px;
    font-family: "Times New Roman";
    color: #212f43;
    font-style: normal;
}