#register-view{
    display: grid;
    padding: 35px;
    vertical-align: center;
    margin-left: 650px;
    margin-right: 650px;
    align-items: center;
}

:host {
    display: block;
    padding: var(--lumo-space-m) var(--lumo-space-l);
}

#title{
    display: grid;
    text-align: center;
    vertical-align: center;
    --lumo-font-size-xxxl: "40px";
    --lumo-line-height-m: 1.625;
}

#button42Km{
    font-size: 20px;
}

#button21Km{
    font-size: 20px;
}

#button10Km{
    font-size: 20px;
}

#buttonCopii{
    font-size: 20px;
}