#register-view{
    display: grid;
    padding: 35px;
    vertical-align: center;
    margin-left: 650px;
    margin-right: 650px;
    align-items: center;
}

:host {
    display: block;
    padding: var(--lumo-space-m) var(--lumo-space-l);
}

#title{
    display: grid;
    text-align: center;
    vertical-align: center;

}